<%= form_for @infocard, html: {class:"uk-form uk-form-horizontal"} do |f| %>
  <hr>
  <div class="uk-form-row">
    <div class="uk-row">
      <div class="uk-container">
        <div class="uk-grid uk-grid-match" data-uk-grid-margin="">
          <div class="uk-width-medium-1-1 uk-row-first">
            <strong><%= f.label :Titulo, class: "uk-form-label" %></strong>
            <%= f.text_field :title, class: "uk-width-1-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-form-row">
    <div class="uk-block">
      <div class="uk-container">
        <div class="uk-grid uk-grid-match" data-uk-grid-margin="">
          <div class="uk-width-medium-1-2 uk-row-first">
            <strong><%= f.label :Fuente, class: "uk-form-label" %></strong>
            <%= f.text_field :source, class: "uk-width-1-1" %>
          </div>
          <div class="uk-width-medium-1-2">
            <strong><%= f.label :Categoría, class: "uk-form-label" %></strong>
            <%= f.collection_select :category_id, Category.all , :id, :name, {prompt: 'Escoge una Categoría'}, class: "uk-form-select" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-form-row">
    <div class="uk-block">
      <div class="uk-container">
        <div class="uk-grid uk-grid-match" data-uk-grid-margin="">
          <div class="uk-width-medium-1-2 uk-row-first">
           <strong> <%= f.label :Localización, class: "uk-form-label" %></strong>
            <%= f.text_field :location, class: "uk-width-1-1" %>
          </div>
          <div class="uk-width-medium-1-2">
            <strong><%= f.label :Url, class: "uk-form-label" %></strong>
            <%= f.text_field :media_url, class: "uk-width-1-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-form-row">
    <div class="uk-row">
      <div class="uk-container">
        <div class="uk-grid uk-grid-match" data-uk-grid-margin="">
          <div class="uk-width-medium-1-1 uk-row-first">
            <strong><%= f.label :Descripción, class: "uk-form-label" %></strong>
            <%= f.text_area :description, class: "uk-width-1-1", rows: "4" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-form-row">
    <div class="uk-block">
      <div class="uk-container">
        <div class="uk-grid uk-grid-match" data-uk-grid-margin="">
          <div class="uk-width-medium-1-2 uk-row-first">
            <div>
              <%= recaptcha_tags %>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="uk-form-row">
    <div class="uk-block">
      <div class="uk-container">
        <div class="uk-grid uk-grid-match" data-uk-grid-margin="">
          <div class="uk-width-medium-1-2 uk-row-first">
            <%= link_to 'Volver Atrás', '/', class: "uk-button uk-width-1-1 uk-button-large" %>
          </div>
          <div class="uk-width-medium-1-2">
            <%= f.submit 'Enviar', class: "uk-button uk-width-1-1 uk-button-primary uk-button-large" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>