<!DOCTYPE html>
<html>
	<head>
		<title>Partillar</title>
		<%= stylesheet_link_tag  'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		
			<div class="uk-grid uk-grid-collapse uk-flex">
				<div class="uk-width-1-1">
					<%= render partial: 'contents/menu', class: 'uk-float-left' %>
					<%= yield %>
				</div>
			</div>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqQ5xwuYlxbqjCILr31n97xzAC9hSPcEg&callback=initMap"
        async defer></script>
	</body>
</html>