<!DOCTYPE html>
<html>
	<head>
		<title>Partillar</title>
		<script src="https://use.typekit.net/kel1hed.js"></script>
		<script>try{Typekit.load({ async: false });}catch(e){}</script>
		<%= stylesheet_link_tag  'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="uk-grid uk-grid-collapse uk-flex">
			<div class="uk-width-1-1">	
				<%= render partial: 'infocards/menu'%>
				<div class="uk-width-1-1 uk-container-center uk-animation-fade">	
					<% flash.each do |key, value| %>
				    	<div class="uk-alert-<%= key %>" data-uk-alert>
				    		<p>
					    		<%= value %>
					    		<a href="" class="uk-alert-close uk-close"></a>
				    		</p>	
				    	</div>
				    <% end %>
				</div>
				
				<%= yield %>
			</div>
			<div id="infocard">
				
			</div>
		</div>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqQ5xwuYlxbqjCILr31n97xzAC9hSPcEg&callback=initMap"
        async defer></script>
	</body>
</html>